node_modules
bun.lockb
Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
README.md
LICENSE
.vscode
Makefile
helm-charts
.env
.editorconfig
.idea
coverage*
# Ignore source files and scripts not needed in final image

scripts/
test/
__tests__/
*.log
*.tsbuildinfo
# Ignore build artifacts except dist and public
!dist/
!public/