# Environment variables
.env
.env*.local

# Node modules
node_modules

# Build output
dist

# Docker
postgres_data/

# Drizzle
drizzle
/drizzle/meta/_journal.json

# Bun dependencies
bun.lockb
bun.lock